
Assignment2/question_E_depth=3
Assignment1/.ipynb_checkpoints/YJ-checkpoint.ipynb
Assignment1/YJ.ipynb
Assignment2/my_learned_tree
Assignment2/my_learned_tree.png
Assignment2/question_C_depth=1
Assignment2/question_C_depth=1.png
Assignment2/question_C_depth=3
Assignment2/question_C_depth=3.png
Assignment2/question_C_depth=5
Assignment2/question_C_depth=5.png
Assignment2/question_E_depth=1
Assignment2/question_E_depth=1.png
Assignment2/question_E_depth=3.png
Assignment2/question_E_depth=5
Assignment2/question_E_depth=5.png
